.{
    margin:0%;
    padding: 0%;
    box-sizing: border-box;
    
}
.home{
    background-image: url("y.png");
    height: 100%;
    width: 100%;
    display: flex;
    background-color: green;
    flex-direction: column;
    
}
#homes{
    display: flex;
    padding: 20px;
    flex-direction: column;
    position: absolute;
    left: 70px;
    top: 70px;
}
.home h1{
    font-family: "Sofia", sans-serif;
    font-weight: bolder;
    color: red;
    width: 150px;
    font-size: xx-large;
    font-size: 17vh;
    font-style: oblique;
    

}
#btn{
    width: 200px;
    height: 70px;
    color: brown;
    font-size: x-large;
    font-weight: bold;
    background-color:greenyellow;
    border: 5px solid brown;
    border-radius: 50px;
    font-weight: bolder;
    font-size: x-large;
    font-family: "Audiowide", sans-serif;
}
#btn:hover{
    width: 200px;
    height: 70px;
    color: greenyellow;
    font-size: x-large;
    font-weight: bold;
    background-color:brown;
    border: 5px solid greenyellow;
    border-radius: 50px;
    font-weight: bolder;
    font-size: x-large;
    font-family: "Audiowide", sans-serif;
}
#in{
    width: 100px;
    height: 7px;
    border: none;
    width: 250px;
    height: 50px;
    font-size: x-large;
    background:none;
    border-bottom: 5px solid brown;
    color: yellow;
    
    font-family: "Audiowide", sans-serif;
    margin-bottom: 50px;

}
::placeholder{
    color: yellow;
    opacity: 0.40;
}